<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <!-- <ol>
        <li>Create two new Components (manually or with CLI): WarningAlert and SuccessAlert</li>
        <li>Output them beneath each other in the AppComponent</li>
        <li>Output a warning or success message in the Components</li>
        <li>Style the Components appropriately (maybe some red/ green text?)</li>
      </ol>
      <p>Use external or internal templates and styles!</p> -->
   
                <h3>I'm in app component</h3>
                <hr>
                <!-- <div app-servers></div> -->
                <!-- <div class= "app-servers"></div> -->
                <h2><app-success-alert>"SUCESSS"</app-success-alert></h2>
                <h4> <app-warning-alert>"WARNING!"</app-warning-alert></h4>
               
 
    </div>
  </div>
</div>

